{% extends "../app/index.html" %}

{% block title %}Password reset complete{% endblock %}

<style>
	body {
		color: #bde1bb; 
	}
	.login-w3ls label {
		font-size: 24px;
		color: #e5da45;
		margin: 10px 0px 6px 0px;
		display: block;
		font-weight: 400;
		letter-spacing: 1px;
	}
	.login-w3ls input[type="text"],
	.login-w3ls input[type="password"],
	.login-w3ls input[type="email"]	{
		outline: none;
		font-size: 12px;
		color: #000;
		padding: 10px;
		margin: 0;
		width: 100%;
		-webkit-appearance: none;
		background: #fffefe;
		border: 1px solid #d2d2d2;
	}
</style>
{% block content %}

<div class="w3layouts-banner">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-5 login-w3ls text-center">
                <p><a href="/signup" style="color: #e5da45; float:left"> If not registered:<button>Register</button></a></p>					
            </div>		
            <div class="col-md-7 login-w3ls" style="margin-top:150px;">    
                <h3> password_reset_complete.html </h3>    
                <h2>Password reset complete</h2>
                <p>Your new password has been set. You can log in now on the <a href=" {% url 'login' %}">log in page</a>.</p>
            </div>
        </div>
    </div> 
</div>
      
{% endblock %}