{% load static %}
<!-- header -->
<header>	
<!--  Navigation Start -->
<div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
	<div class="navbar-inner">
		<div class="container">			
			<div class="pull-right">
			<nav class="navbar nav_bottom" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				</div> 
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav nav_1">
					<li class=""><a href="{% url 'home' %}">Home</a></li>
					<!-- Navbar Right Side -->
					{% if user.is_authenticated %}
					<li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
					<li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li><a class="nav-item nav-link" href="{% url 'signup' %}">Register</a></li>
					<li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>					
					{% endif %}
					
					<li><a href="{% url 'about' %}">About</a></li>
					
					<li><a href="{% url 'search' %}">Search</a></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'seeprofile' %}">Recently Viewed Profiles</a></li>
						<li><a href="{% url 'faq' %}">Faq</a></li>
					</ul>
					</li>
					<li class="dropdown">
						<a href="{% url 'quick_search' %}" class="dropdown-toggle" data-toggle="dropdown">Quick Search<span class="caret"></span></a>
						{% if user.is_authenticated %}
						<ul class="dropdown-menu" role="menu">
							<div class="banner-bottom-login">
								<div class="w3agile_banner_btom_login">
									<form action="{% url 'search' %}" method="post">
										{% csrf_token %}
										<div class="w3agile__text w3agile_banner_btom_login_left">
										<h4>I'm looking for a</h4>
										<select id="country" onchange="change_country(this.value)" class="frm-field required">
											<option value="null">Bride</option>
											<option value="null">Groom</option>   
										</select>
										</div>
										<div class="w3agile__text w3agile_banner_btom_login_left1">
											<h4>Aged</h4>
											<select id="country1" onchange="change_country(this.value)" class="frm-field required">
												<option value="null">20</option>
												<option value="null">21</option>   
												<option value="null">22</option>   
												<option value="null">23</option>   
												<option value="null">24</option>   
												<option value="null">25</option>  
												<option value="null">- - -</option>   					
											</select>
											<span>To </span>
											<select id="country2" onchange="change_country(this.value)" class="frm-field required">
												<option value="null">30</option>
												<option value="null">31</option>   
												<option value="null">32</option>   
												<option value="null">33</option>   
												<option value="null">34</option>   
												<option value="null">35</option>  
												<option value="null">- - -</option>   					
											</select>
										</div>
										<div class="w3agile__text w3agile_banner_btom_login_left2">
											<h4>Religion</h4>
											<select id="country3" onchange="change_country(this.value)" class="frm-field required">
												<option value="null">Hindu</option>  
												<option value="null">Muslim</option>   
												<option value="null">Christian</option>   
												<option value="null">Sikh</option>   
												<option value="null">Jain</option>   
												<option value="null">Buddhist</option>
												<option value="null">No Religious Belief</option>   					
											</select>
										</div>
										<div class="w3agile_banner_btom_login_left3">
											<input type="submit" value="Search" />
										</div>
										<div class="clearfix"> </div>
									</form>
								</div>
							</div>
						</ul>
						{% else %}
						<ul class="dropdown-menu">
							<li> <button><a href="/signup">Pl Signup/Login</a></button></li>
						</ul>
						{% endif %}
					</li>					
					<li><a href="{% url 'app' %}" target="_blank">Mobile</a></li>
					<li class="last"><a href="{% url 'contact' %}">Contacts</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</nav>
			</div> <!-- end pull-right -->
			<div class="clearfix"> </div>
		</div> <!-- end container -->
	</div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
</header>
<!-- /header -->
