{% load static%}
<table>
<thead>
    <tr style="background-color:gray;">
        <th scope="col">ID</th>
        <th scope="col">Profile</th>
        <th scope="col">User</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Qualification</th>
        <th scope="col">Occupation</th> 
        <th scope="col">Salary</th>
        <th scope="col">Language</th>
        <th scope="col">Religion</th>
        <th scope="col">Caste</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>   
        <th scope="col">Bio</th>    
    </tr>
</thead>
<tbody>
    {% for userData in data %}
    <tr>
        <th scope="row">{{userData.id}}</th>
        <td><img style="width: 40px; border-radius:15px;" 
            src="{{userData.image.url}}" 
            alt="profile_img"></td>
        <td>{{userData.user}}</td>
        <td>{{userData.user.username}}</td>
        <td>{{userData.user.email}}</td>
        <td>{{userData.qualification}}</td>
        <td>{{userData.occupation}}</td>
        <td>{{userData.salary}}</td>  
        <td>{{userData.language}}</td> 
        <td>{{userData.religion}}</td> 
        <td>{{userData.caste}}</td>
        <td>{{userData.city}}</td>
        <td>{{userData.state}}</td>
        <td>{{userData.country}}</td>  
        <td>{{userData.bio}}</td>      
    </tr>
    {% endfor %}
</tbody>
</table>

<button type="submit"><a href="/">HOME</a></button>
